body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    a {
        color: black;
        text-decoration: none;
    }

   
    h1 {
        padding-left: 47px;
        color: rgb(80, 7, 129);
        font-weight: 800;
        font-size: 33px;
        margin-bottom: 5px;
    }

    h3:hover {
        color: rgb(80, 7, 129);
       }
    
    .header {
        background-color: rgb(80, 7, 129);
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .link_menu {
        color: white;
        text-decoration: none;
        margin-bottom: 10px;
    }
    

    .menu li {

        display: inline;
        margin: 0 8px;
        padding: 7px;
        font-weight: 700;
    }

    .logo_principal {
        padding-left: 30px;
        padding-top: 15px;
    }


     .imagem_principal {
    padding-top: 30px;
    padding-left: 50px;
    }

     .conteudo_um {
     display: flex;
     align-items: center;
     
     }

     .imagem_noticia {
    padding-top: 12px;
    padding-left: 50px;
     }

     .Texto_ao_lado {
    margin-left: 12px;  
    
     }


        
     